@import '../../stylesheets/fonts';
@import '../../stylesheets/mixins';

.Evan {
  height: 95vh;
  background:
    /* gray overlay */
    linear-gradient(
      rgba(32, 31, 38, 0.5),
      rgba(32, 31, 38, 0.5)
    ),
    /* underlying picture */
    url('/emma+evan(highres)-82.jpg');

  @include breakpoint(320px) {
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  @include breakpoint(handheld-large) {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  @include breakpoint(tablet) {
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -50px;
  }
  color: white;
}


.Evan > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.greeting, .sub-greeting {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.greeting {

  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $greeting-font-stack;

  @include breakpoint(320px) {
    padding-top:25vh;
    font-size: 3.0em;
  }

  @include breakpoint(handheld-large) {
      padding-top: 30vh;
  }

  @include breakpoint(tablet) {
    padding-top: 40vh;
    font-size: 4.0em;
  }
}

.sub-greeting {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $sub-greeting-font-stack;

  @include breakpoint(320px) {
    font-size: 1.25em;
  }

  @include breakpoint(tablet) {
    font-size: 2.0em;
  }
}
