@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Sunflower:300');
@import url("https://use.typekit.net/ifa3iub.css");

$greeting-font-stack: 'Oswald', 'Lato', sans-serif;
$sub-greeting-font-stack: 'Sunflower', 'Open Sans', serif;
$nav-font-stack: 'Bebas Neue', sans-serif;
