@import '../../stylesheets/fonts';
@import '../../stylesheets/mixins';

.Navigation {
  color: white;
  font-family: $nav-font-stack;
}

.mynavbar {
  background-color: transparent;
  padding-left:3%;
  padding-right: 3%;
}

.mynavbar-brand {
  color: white;
  font-size: 2.5em;
}
